* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  width: 100%;
}

.container {
  max-width: 96rem; /* Define a largura máxima */
  margin: 0 auto; /* Centraliza o conteúdo */
  padding: 0 2rem; /* Adiciona um espaçamento lateral */
}

header {
  background-color: #007bff;
  color: white;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-size: 1.2rem;
  max-width: 70rem; /* Define a largura máxima */
  margin: 0 auto; /* Centraliza o conteúdo */
}

h1 {
  font-size: 1.8rem;
}

@media screen and (max-width: 60rem) {
  h1 {
    font-size: 1.4rem; /* Reduz o tamanho da fonte em telas menores */
  }
}

p {
  margin-bottom: 2rem;
}

@media screen and (max-width: 60rem) {
  p {
    font-size: 0.8rem; /* Reduz o tamanho da fonte em telas menores */
  }
}

.description-about {
  opacity: 0.7;
}

.about {
  margin-top: 4rem;
}

section {
  margin-bottom: 4rem;
}

.cards {
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* Adiciona um espaçamento entre os cards */
}

@media screen and (max-width: 1000px) {
  .cards {
    flex-direction: column; /* Alinha os cards em coluna em telas menores */
    gap: 0.5rem; /* Reduz o espaçamento entre os cards */
  }
}

.card-project01,
.card-project02,
.card-project03 {
  margin-bottom: 1rem; /* Adiciona um espaçamento inferior */
  font-size: 1rem; /* Aumenta o tamanho da fonte */
  text-align: center; /* Centraliza o texto */
  display: flex; /* Alinha o texto no centro */
  flex-direction: column; /* Alinha o texto no centro */
  gap: 1rem; /* Adiciona um espaçamento entre os itens */
  width: 100%; /* Define a largura do card */
  max-width: 20rem; /* Define a largura máxima do card */
  height: 20rem;
  background-color: rgb(189, 184, 181);
  border-radius: 0.2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.projects ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  gap: 1rem;
}

@media screen and (max-width: 60rem) {
  .card-projects p,
  a {
    font-size: 0.8rem; /* Reduz o tamanho da fonte em telas menores */
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.skills ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .skills p,
  li {
    font-size: 0.8rem; /* Reduz o tamanho da fonte em telas menores */
  }
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

footer a {
  color: white;
}
